body {
    --background-grey: #ddd;
    --box-size: 0;
    --box-gap: 0;
    --scrollbar-size: 10px;
    margin: 0;
    /*padding: 20px;*/
    height: 100vh;
    box-sizing: border-box;
}

#table-container {
    height: 100%;
    overflow: hidden;
    font-size: 0;
}

#table {
    border-collapse: collapse;
    -webkit-user-drag: none;
    cursor: grab;
}

td {
    padding: 0;
}


/* box */

.box {
    width: var(--box-size);
    height: var(--box-size);
    resize: none;
    margin-right: var(--box-gap);
    margin-bottom: var(--box-gap);
    padding: 10px;

    white-space: pre;
    overflow-wrap: normal;
    overflow: scroll;

    background-color: var(--background-grey);
    border-radius: 5px;
    border: 2px var(--background-grey) solid;
    box-sizing: border-box;

    font-size: 15px;

    opacity: 1;
    cursor: pointer;
}

.box:focus {
    outline: none;
    border: 2px #000 solid !important;
    background-color: #fff;
    opacity: 1 !important;
    cursor: auto;
}

.box.empty {
    background-color: #fff;
    border: 2px var(--background-grey) dashed;
    opacity: 0;
}

.box.empty:hover {
    opacity: 1
}


/* box scrollbar */

.box::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

.box::-webkit-scrollbar-corner {
    display: none;
}

.box::-webkit-scrollbar-thumb {
    cursor: auto;
    width: var(--scrollbar-size);
    border-radius: calc(var(--scrollbar-size) / 2);
    background-color: var(--background-grey);
}